<!DOCTYPE html>
<html>
<head>
    <title>User Access Portal</title>
    <link rel="stylesheet" type="text/css" href="/css/app.css" />

</head>

<body>
    <div id="loginContainer">
       <img src="/images/rdplogo.png" />
<h3>User Access Portal</h3>

<form action="/login" method="post">

    <div id="align">
    
    <input type="text" name="email" placeholder="Email"></input>

    
    <input type="password" name="password" placeholder="Password"></input>
    </div>

    <div id="spacer">
    <button type="submit">Login in</button>
    <a href="/register">Register</a>
    <a href="#">Forgot password?</a>
    <a href="#">Login instructions</a>
    </div>
    
</form>


</div>
</body>

</html>