<!DOCTYPE html>
<html>
<head>
  <title>User Registration</title>
  <link rel="stylesheet" type="text/css" href="/css/app.css">
</head>
<body>
  <div id="loginContainer">
  
      <img src="/images/rdplogo.png"  />
   

    <h3>Register</h3>

    <form action="/register" method="post">
      <div id="align">
        <input type="text" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="password" name="confirmPassword" placeholder="Confirm Password" required>
      </div>

      <button type="submit" style="margin-top:20px;">Register</button>
    </form>

    <!-- Additional links -->
    <div id="spacer" style="color:#fff;">
      <li>By registering, you agree to the <a href="">Terms & Conditions</a></li>
    </div>
  </div>
</body>
</html>
